*{
    padding: 0px;
    margin-right: 0;
    margin-left: 0;
}
body{
    background-color: #F3F5FC;
}
#container{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #0A3871;
    width: 75%;
    margin: 0 auto;
}
h2{
    margin-bottom: 50px;
     /*Inicio Cores degrade para as letras*/

    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(120deg, rgba(16,9,128,1), rgb(63, 218, 245));
  
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;

    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
    /*Fim Cores degrade para as letras*/
    
}
.entrada{
    float: left;
    width: 70%;
}
textarea{
    border: 3px solid transparent;
    border-image: linear-gradient(120deg, rgba(16,9,128,1), rgb(63, 218, 245));
    border-image-slice: 1;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0);
    resize: none;
    width: 90%;
    height: 300px;
    line-height: 1.2em;
    font-size: 1.6em;
}
textarea::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #0A3871;
    
}
aside{
    float: right;
    width: 29%;
    padding: 0 0 0 0;
    margin-bottom: 25px;
}
.resultado{
    background: #FFFFFF;
    background-image: url("img/boneco.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 0px;
    
}
.botoes{
    padding: 10px;
    background-color: #FFFFFF;

    /*Inicio Cores degrade para borda*/
    border: 3px solid transparent;
    border-image: linear-gradient(120deg, rgba(16,9,128,1), rgb(63, 218, 245));
    border-image-slice: 1;
    font-weight: bolder;
    /*Fim Cores degrade para borda*/
    
    /*Inicio Cores degrade para as letras*/

    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(120deg, rgba(16,9,128,1), rgb(63, 218, 245));
  
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;

    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
    /*Fim Cores degrade para as letras*/


    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
}
.botoes:hover{
    -webkit-text-fill-color: #FFFFFF;
    background-clip: padding-box;
}
.centralizado{
    text-align: center;
}
footer{
    clear: both;
    padding: 50px;
    text-align: center;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #F3F5FC;
}