body{
    background-color: #E5E5E5;
}
#container{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #0A3871;
    width: 90%;
    margin: 0 auto;
}
main{
    border: solid red 1px;
    float: left;
    width: 70%;
}
textarea{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    resize: none;
    width: 90%;
    height: 400px;
    line-height: 1.2em;
    font-size: 1.6em;
}
textarea::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    
}
aside{
    border: solid red 1px;
    float: right;
    width: 29%
}
#resultado{
    width: 81%;
    height: 400px;
    margin-bottom: 0px;
    background: #FFFFFF;
}

.base{
    
}
.elemento-center{
    width: 60%;
    margin: 0 auto;
}
.botoes{
    padding: 10px;
    background-color: #FFFFFF;
    border: 3px solid transparent;
    border-image: linear-gradient(120deg, rgba(16,9,128,1), rgb(63, 218, 245));
    border-image-slice: 1;
    font-weight: bolder;
    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(120deg, rgba(16,9,128,1), rgb(63, 218, 245));
  
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;

    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
}
footer{
    clear: both;
    text-align: center;
}